* {
  font-family: "Roboto", sans-serif; }

.slider-container {
  position: relative;
  display: flex; }

.image {
  display: none;
  position: relative;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  left: -50px;
  transition: all 1s;
  transition-timing-function: ease;
  opacity: 0; }
  @media all and (max-width: 575px) {
    .image {
      background-size: contain; } }
  .image-container {
    width: 100%;
    min-height: 400px; }
    @media all and (max-width: 768px) {
      .image-container {
        min-height: 300px; } }
    @media all and (max-width: 575px) {
      .image-container {
        min-height: 200px; } }
  .image__content {
    position: relative;
    color: white;
    padding: 4em 11em;
    width: 100%; }
    @media all and (max-width: 768px) {
      .image__content {
        text-align: center;
        padding: 4em 7em; } }
    @media all and (max-width: 575px) {
      .image__content {
        padding: 1em; } }
    .image__content::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.2); }
    .image__content:hover::after {
      background-color: rgba(0, 0, 0, 0); }
    .image__content h2,
    .image__content p {
      z-index: 1;
      position: relative; }
    @media all and (max-width: 575px) {
      .image__content p {
        display: none; } }
  .image--1 {
    background-image: url("https://placeunicorn.com/1000x400/1"); }
    @media all and (max-width: 575px) {
      .image--1 {
        background-image: url("https://placeunicorn.com/400x200/1"); } }
  .image--2 {
    background-image: url("https://placeunicorn.com/1000x400/2"); }
    @media all and (max-width: 575px) {
      .image--2 {
        background-image: url("https://placeunicorn.com/400x200/2"); } }
  .image--3 {
    background-image: url("https://placeunicorn.com/1000x400/3"); }
    @media all and (max-width: 575px) {
      .image--3 {
        background-image: url("https://placeunicorn.com/400x200/3"); } }
  .image.active {
    display: flex;
    left: 0;
    opacity: 1; }

.btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  top: 0;
  bottom: 0;
  width: 40px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2); }
  .btn i {
    font-size: 42px;
    color: white; }
  .btn--next {
    right: 0; }

.indicator {
  cursor: pointer;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: lightgray; }
  .indicator.active, .indicator:hover {
    background-color: gray; }
  .indicator:not(:last-child) {
    margin-right: 0.6rem; }
  .indicator-container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -24px; }
